<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi pagina</title>
</head>
<body bgcolor="black">
    <!--<center>-->
    <h1 style="color: aqua;text-align: center;">( ͡°( ͡° ͜ʖ ͡°( ͡❛ ͜ʖ ͡❛) ͡° ͜ʖ ͡°) ͡°)</h1>
    <h2 style="color: yellow;text-align: left;">( ͡°( ͡° ͜ʖ ͡°( ͡❛ ͜ʖ ͡❛) ͡° ͜ʖ ͡°) ͡°)</h2>
    <h3 style="color: red;text-align: right;">( ͡°( ͡° ͜ʖ ͡°( ͡❛ ͜ʖ ͡❛) ͡° ͜ʖ ͡°) ͡°)</h3>
    <h4 style="color: darksalmon;text-align: center;">( ͡°( ͡° ͜ʖ ͡°( ͡❛ ͜ʖ ͡❛) ͡° ͜ʖ ͡°) ͡°)</h4>
    <h5 style="color: aliceblue;text-align: left;">( ͡°( ͡° ͜ʖ ͡°( ͡❛ ͜ʖ ͡❛) ͡° ͜ʖ ͡°) ͡°)</h5>
    <h6 style="color: chartreuse;text-align: right;">( ͡°( ͡° ͜ʖ ͡°( ͡❛ ͜ʖ ͡❛) ͡° ͜ʖ ͡°) ͡°)</h6>
    <!--</center>-->
    <hr><br>
    <hr>
    <p style="color: chartreuse;text-align: center;">La inflacción ha <strong>subido</strong></p>
</body>
</html>